body { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
	background-color: rgba(255,255,255,0.8);
	padding:10px;
}

#reservation {
	background-color:#fff;
	border-radius:10px;
	padding:20px 0px;
	height:auto;
	margin-bottom:50px;
}


#datepicker {
	display:inline-block;
	margin:0 auto;
}


#datepicker td.complet span {
	color:red;
}

#datepicker td.presque_complet a {
	color:orange;
}

footer {
	position:fixed;
	bottom:0px;
	left:0px;
	background-color: #000;
	color:#fff;
	width:100%;
	height:auto;
	font-size: x-small;
	text-align: center;
}