{# src/BilletterieBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Musée du Louvres{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {# Font Awesome pour les icones #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {# On charge le CSS de JQuery UI pour personnaliser l'affichage #}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css">  
    {# les CSS perso du bundle #}
    <link href="{{ asset('bundles/billetterie/css/styles.css') }}" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Musée du Louvres</h1>
      <p>
        Commandez vos billets à l'avance en quelques clics pour éviter les longues files d'attente.
      </p>
    </div>

    {% block body %}
    
    {% endblock %}

    <footer>
      <p>&copy; Musée du Louvres {{ 'now'|date('Y') }}</p>
    </footer>
  </div>

  {% block javascripts %}

      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script src="http://jqueryui.com/resources/demos/datepicker/datepicker-fr.js"></script> 
      
  {% endblock %}

</body>
</html>