{# src/BilletterieBundle/Resources/views/Default/index.html.twig #}

{% extends "BilletterieBundle::layout.html.twig" %}

{% block title %}
  Billets - liste des bénéficiaires - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="row" >
    <div class="text-center col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10" id="reservation" >
      <div class="col-sm-12" >
        <h2>Bénéficiaires des billets</h2>
          <p>Veuillez préciser l'identité des participants à la visite prévue le {{ commande.dateVisite|date('d/m/Y') }}.</p>
          <p><a href="#detailTarifs">Voir le détail des tarifs.</a></p>
          <form name="form" method="post" >
            <div id="billets" class="billets text-left" data-prototype="
              
              {# prototype des billets #}
              <div id=&quot;form_billets___name__&quot;>
                <div class=&quot;col-md-11&quot;>
                  <div class=&quot;form-group col-md-4&quot;>
                    <label for=&quot;form_billets___name___nom&quot; class=&quot;required control-label col-md-12&quot;>Nom</label>
                    <input type=&quot;text&quot; id=&quot;form_billets___name___nom&quot; name=&quot;form[billets][__name__][nom]&quot; required=&quot;required&quot; />
                  </div>
                  <div class=&quot;form-group col-md-4&quot;>
                    <label for=&quot;form_billets___name___prenom&quot; class=&quot;required control-label col-md-12&quot;>Prénom</label>
                    <input type=&quot;text&quot; id=&quot;form_billets___name___prenom&quot; name=&quot;form[billets][__name__][prenom]&quot; required=&quot;required&quot; />
                  </div>
                  <div class=&quot;form-group col-md-4&quot;>
                    <label for=&quot;form_billets___name___nationalite&quot; class=&quot;required control-label col-md-12&quot;>Nationalité</label>
                    <select id=&quot;form_billets___name___nationalite&quot; name=&quot;form[billets][__name__][nationalite]&quot;>
                                <option value=&quot;France&quot; >France</option>
                                <option value=&quot;Afrique&quot; >Afrique</option>
                                <option value=&quot;Amérique du Nord&quot; >Amérique du Nord</option>
                                <option value=&quot;Amérique du Sud&quot; >Amérique du Sud</option>
                                <option value=&quot;Asie&quot; >Asie</option>
                                <option value=&quot;Europe&quot; >Europe (hors France)</option>
                                <option value=&quot;Eurasie&quot; >Eurasie</option>
                    </select>
                  </div>
                  <div class=&quot;form-group col-md-5&quot;>
                    <label class=&quot;required control-label col-md-12&quot;>Date de naissance</label>
                    <select id=&quot;form_billets___name___dateNaissance_day&quot; name=&quot;form[billets][__name__][dateNaissance][day]&quot;>
                                <option value=&quot;1&quot; >01</option>            <option value=&quot;2&quot; >02</option>            <option value=&quot;3&quot; >03</option>            <option value=&quot;4&quot; >04</option>            <option value=&quot;5&quot; >05</option>            <option value=&quot;6&quot; >06</option>            <option value=&quot;7&quot; >07</option>            <option value=&quot;8&quot; >08</option>            <option value=&quot;9&quot; >09</option>            <option value=&quot;10&quot; >10</option>            <option value=&quot;11&quot; >11</option>            <option value=&quot;12&quot; >12</option>            <option value=&quot;13&quot; >13</option>            <option value=&quot;14&quot; >14</option>            <option value=&quot;15&quot; >15</option>            <option value=&quot;16&quot; >16</option>            <option value=&quot;17&quot; >17</option>            <option value=&quot;18&quot; >18</option>            <option value=&quot;19&quot; >19</option>            <option value=&quot;20&quot; >20</option>            <option value=&quot;21&quot; >21</option>            <option value=&quot;22&quot; >22</option>            <option value=&quot;23&quot; >23</option>            <option value=&quot;24&quot; >24</option>            <option value=&quot;25&quot; >25</option>            <option value=&quot;26&quot; >26</option>            <option value=&quot;27&quot; >27</option>            <option value=&quot;28&quot; >28</option>            <option value=&quot;29&quot; >29</option>            <option value=&quot;30&quot; >30</option>            <option value=&quot;31&quot; >31</option></select> <select id=&quot;form_billets___name___dateNaissance_month&quot; name=&quot;form[billets][__name__][dateNaissance][month]&quot;>            <option value=&quot;1&quot; >Jan</option>            <option value=&quot;2&quot; >Feb</option>            <option value=&quot;3&quot; >Mar</option>            <option value=&quot;4&quot; >Apr</option>            <option value=&quot;5&quot; >May</option>            <option value=&quot;6&quot; >Jun</option>            <option value=&quot;7&quot; >Jul</option>            <option value=&quot;8&quot; >Aug</option>            <option value=&quot;9&quot; >Sep</option>            <option value=&quot;10&quot; >Oct</option>            <option value=&quot;11&quot; >Nov</option>            <option value=&quot;12&quot; >Dec</option></select> <select id=&quot;form_billets___name___dateNaissance_year&quot; name=&quot;form[billets][__name__][dateNaissance][year]&quot;>            <option value=&quot;1902&quot; >1902</option>            <option value=&quot;1903&quot; >1903</option>            <option value=&quot;1904&quot; >1904</option>            <option value=&quot;1905&quot; >1905</option>            <option value=&quot;1906&quot; >1906</option>            <option value=&quot;1907&quot; >1907</option>            <option value=&quot;1908&quot; >1908</option>            <option value=&quot;1909&quot; >1909</option>            <option value=&quot;1910&quot; >1910</option>            <option value=&quot;1911&quot; >1911</option>            <option value=&quot;1912&quot; >1912</option>            <option value=&quot;1913&quot; >1913</option>            <option value=&quot;1914&quot; >1914</option>            <option value=&quot;1915&quot; >1915</option>            <option value=&quot;1916&quot; >1916</option>            <option value=&quot;1917&quot; >1917</option>            <option value=&quot;1918&quot; >1918</option>            <option value=&quot;1919&quot; >1919</option>            <option value=&quot;1920&quot; >1920</option>            <option value=&quot;1921&quot; >1921</option>            <option value=&quot;1922&quot; >1922</option>            <option value=&quot;1923&quot; >1923</option>            <option value=&quot;1924&quot; >1924</option>            <option value=&quot;1925&quot; >1925</option>            <option value=&quot;1926&quot; >1926</option>            <option value=&quot;1927&quot; >1927</option>            <option value=&quot;1928&quot; >1928</option>            <option value=&quot;1929&quot; >1929</option>            <option value=&quot;1930&quot; >1930</option>            <option value=&quot;1931&quot; >1931</option>            <option value=&quot;1932&quot; >1932</option>            <option value=&quot;1933&quot; >1933</option>            <option value=&quot;1934&quot; >1934</option>            <option value=&quot;1935&quot; >1935</option>            <option value=&quot;1936&quot; >1936</option>            <option value=&quot;1937&quot; >1937</option>            <option value=&quot;1938&quot; >1938</option>            <option value=&quot;1939&quot; >1939</option>            <option value=&quot;1940&quot; >1940</option>            <option value=&quot;1941&quot; >1941</option>            <option value=&quot;1942&quot; >1942</option>            <option value=&quot;1943&quot; >1943</option>            <option value=&quot;1944&quot; >1944</option>            <option value=&quot;1945&quot; >1945</option>            <option value=&quot;1946&quot; >1946</option>            <option value=&quot;1947&quot; >1947</option>            <option value=&quot;1948&quot; >1948</option>            <option value=&quot;1949&quot; >1949</option>            <option value=&quot;1950&quot; >1950</option>            <option value=&quot;1951&quot; >1951</option>            <option value=&quot;1952&quot; >1952</option>            <option value=&quot;1953&quot; >1953</option>            <option value=&quot;1954&quot; >1954</option>            <option value=&quot;1955&quot; >1955</option>            <option value=&quot;1956&quot; >1956</option>            <option value=&quot;1957&quot; >1957</option>            <option value=&quot;1958&quot; >1958</option>            <option value=&quot;1959&quot; >1959</option>            <option value=&quot;1960&quot; >1960</option>            <option value=&quot;1961&quot; >1961</option>            <option value=&quot;1962&quot; >1962</option>            <option value=&quot;1963&quot; >1963</option>            <option value=&quot;1964&quot; >1964</option>            <option value=&quot;1965&quot; >1965</option>            <option value=&quot;1966&quot; >1966</option>            <option value=&quot;1967&quot; >1967</option>            <option value=&quot;1968&quot; >1968</option>            <option value=&quot;1969&quot; >1969</option>            <option value=&quot;1970&quot; >1970</option>            <option value=&quot;1971&quot; >1971</option>            <option value=&quot;1972&quot; >1972</option>            <option value=&quot;1973&quot; >1973</option>            <option value=&quot;1974&quot; >1974</option>            <option value=&quot;1975&quot; >1975</option>            <option value=&quot;1976&quot; >1976</option>            <option value=&quot;1977&quot; >1977</option>            <option value=&quot;1978&quot; >1978</option>            <option value=&quot;1979&quot; >1979</option>            <option value=&quot;1980&quot; >1980</option>            <option value=&quot;1981&quot; >1981</option>            <option value=&quot;1982&quot; >1982</option>            <option value=&quot;1983&quot; >1983</option>            <option value=&quot;1984&quot; >1984</option>            <option value=&quot;1985&quot; >1985</option>            <option value=&quot;1986&quot; >1986</option>            <option value=&quot;1987&quot; >1987</option>            <option value=&quot;1988&quot; >1988</option>            <option value=&quot;1989&quot; >1989</option>            <option value=&quot;1990&quot; >1990</option>            <option value=&quot;1991&quot; >1991</option>            <option value=&quot;1992&quot; >1992</option>            <option value=&quot;1993&quot; >1993</option>            <option value=&quot;1994&quot; >1994</option>            <option value=&quot;1995&quot; >1995</option>            <option value=&quot;1996&quot; >1996</option>            <option value=&quot;1997&quot; >1997</option>            <option value=&quot;1998&quot; >1998</option>            <option value=&quot;1999&quot; >1999</option>            <option value=&quot;2000&quot; >2000</option>            <option value=&quot;2001&quot; >2001</option>            <option value=&quot;2002&quot; >2002</option>            <option value=&quot;2003&quot; >2003</option>            <option value=&quot;2004&quot; >2004</option>            <option value=&quot;2005&quot; >2005</option>            <option value=&quot;2006&quot; >2006</option>            <option value=&quot;2007&quot; >2007</option>            <option value=&quot;2008&quot; >2008</option>            <option value=&quot;2009&quot; >2009</option>            <option value=&quot;2010&quot; >2010</option>            <option value=&quot;2011&quot; >2011</option>            <option value=&quot;2012&quot; >2012</option>            <option value=&quot;2013&quot; >2013</option>            <option value=&quot;2014&quot; >2014</option>            <option value=&quot;2015&quot; >2015</option>            <option value=&quot;2016&quot; >2016</option>
                    </select>
                  </div>
                  <div class=&quot;form-group col-md-7&quot;>
                    <br />
                    <label for=&quot;form_billets___name___tarifSpecial&quot;>
                      <input type=&quot;checkbox&quot; id=&quot;form_billets___name___tarifSpecial&quot; name=&quot;form[billets][__name__][tarifSpecial]&quot; class=&quot;tarifSpecial&quot; value=&quot;1&quot; /> 
                      Je bénéficie du tarif spécial
                      </label>
                  </div>                  
                </div>
              </div>" >

              {% for billet in form.billets %}
                <div class="billet col-sm-12">
                  {{ form_row(billet) }}
                </div>    
              {% endfor %}
            </div>
            <div class="col-sm-12" >
                {# ajout manuel du bouton pour ajouter un nouveau billet #}
                <a class="btn btn-primary" href="#" id="btn_ajouter_billet" ><i class="fa fa-plus" ></i> Ajouter un billet</a>
                <br /><br />      
            </div>
            <div class="text-center col-sm-12">
              {# ajout manuel du bouton pour valider le formulaire #}              
              <button type="submit" class="btn btn-lg btn-primary" ><i class="fa fa-sign-in" ></i> Etape suivante</button>
            </div>
          </form>
      </div>
      <div class="col-md-12 text-left" id="detailTarifs" >
        <h2>Détail des tarifs</h2>
        <p>Le musée propose plusieurs types de tarifs :</p>
          <ul>
          <li>tarif « normal » à partir de 12 ans à 16 €</li>
          <li>tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée est gratuite pour les enfants de moins de 4 ans)</li>
          <li>tarif « senior » à partir de 60 ans pour 12 €</li>
          <li>tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire...). Vous devrez présenter un justificatif lors du contrôle de votre billet.</li>
          <li>tarif « famille » valable pour 2 adultes et 2 enfants ayant le même nom de famille pour 35 €</li>
          </ul>
          <p>Les billets "demi-journée" sont à moitié prix.</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>  
    var $collectionHolder;
      
    jQuery(document).ready(function() {
        // Localise le DIV qui contient les billets
        $collectionHolder = $('#billets');
    
        // compte le nombre de billets déjà présents
        $collectionHolder.data('index', $collectionHolder.find('.billet').length);
        
        // si aucun billet n'existe encore, on en crée un par défaut
        if($collectionHolder.data('index')===0) {
          addBilletForm($collectionHolder, $collectionHolder);   
        }
        
        $('#btn_ajouter_billet').on('click', function(e) {
            // empêche de recharger la page
            e.preventDefault();
            // ajoute un nouveau billet
            addBilletForm($collectionHolder, $collectionHolder);            
        });
        
        $('#btn_supprimer_billet').on('click', function(e) {
            // empêche de recharger la page
            e.preventDefault();
            // ajoute un nouveau billet
            deleteBilletForm($collectionHolder);            
        });
        
        // La fonction qui ajoute un nouveau billet
        function addBilletForm($collectionHolder, $newLinkLi) {
            // récupère le prototype de billet
            var prototype = $collectionHolder.data('prototype');
        
            // récupère l'index en cours
            var index = $collectionHolder.data('index');
        
            // Remplace les '__name__' du prototype par l'index courant
            var newForm = prototype.replace(/__name__/g, index);
        
            // incrémente l'index pour le prochain ajout
            $collectionHolder.data('index', index + 1);
        
            // ajoute le formulaire dans un nouveau div de class "billet"
            var $newFormBillet = $('<div class="billet col-sm-12"></div>').append(newForm);
            $collectionHolder.append($newFormBillet);
            
            // ajoute un bouton de suppression au billet créé
            addBilletFormDeleteLink($newFormBillet);
            
        }
        
        // fonction qui ajoute un lien de suppression à un billet
        function addBilletFormDeleteLink($newFormBillet) {
            var $removeFormA = $('<div class="col-md-1" ><a class="btn btn-danger" href="#" id="btn_supprimer_billet" ><i class="fa fa-trash" ></i></a></div>');
            $newFormBillet.append($removeFormA);
        
            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // supprime le billet
                $newFormBillet.remove();
            });
        }
        
        
    });
  </script>
  
  
{% endblock %}


